/* This design is mobile-first */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Victor Mono', monospace; */
:root{
    --pink: rgb(255, 0, 140);
    --teal:rgb(0, 255, 191);
    --sky:rgb(0, 183, 255);
    --gray:rgb(48, 48, 48);
    --light-gray:rgb(117, 117, 117);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
button{
    border-radius: 20px;
    padding: 0.8rem 1.2rem;
    font-size: smaller;
    border: none;
    color: white;
}
button:hover{
    opacity: 60%;
    transition: opacity ease-in-out 300ms;
}
header{
    margin: 2rem 0;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.brand-logo{
    width: 35px;
}
.brand-name span{
    color: rgb(255, 115, 0);
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}
nav a{
    color: var(--gray);
    font-size: small;
}
.nav-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    font-size: small;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 0.6rem 1rem;
}
.nav-social-links img{
    width: 20px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 3rem;
}
.banner-img{
    width: 100%;
}
.banner-contents{
    width: 100%;
    background: url('images/Group%2014.png');
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 5rem 3rem;
}
.banner-contents ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 1rem;
    text-align: left;
    font-size: smaller;
}
.banner-contents h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--gray);
}
.banner-contents h1 {
    font-size: 3.3rem;
    background: linear-gradient(to bottom, #b700ff, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  
.banner-contents img{
    width: 18px;
}
.banner-contents li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6rem;
    font-size: small;
    color: var(--light-gray);
}
.banner-contents button:nth-child(1){
    background: var(--pink);
}
.banner-contents button:nth-child(2){
    background: var(--sky);
}
.banner-contents a{
    color: white;
}
.banner-content-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    gap: 0.6rem;
}
/* Style for Tablets */
@media screen and (max-width:768px) and (min-width:576px) {
    header{
        position: inherit;
        display: flex;
        margin: 0;
        padding: 1rem 0;
        height: 10vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    nav,nav ul{
        flex-direction: row;
    }
    nav{
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }
    nav ul{
        margin: 0;
    }
    .banner{
        flex-direction: row-reverse;
        margin: 0;
    }
    .banner-img{
        width: 50%;
    }
}




/* Style for Desktops */
@media screen and (min-width:769px) {
    header{
        position: inherit;
        display: flex;
        margin: 0;
        padding: 1rem 0;
        height: 10vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    nav,nav ul{
        flex-direction: row;
    }
    nav{
        justify-content: space-between;
        padding: 1rem 6rem;
        width: 100%;
    }
    nav ul{
        margin: 0;
    }
    nav a:hover{
        transition: color ease-in-out 400ms ;
        color:var(--pink);
    }
    .banner{
        flex-direction: row-reverse;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .banner-img{
        width: 40%;
        padding: 0 5rem;
    }
}