/* This design is mobile-first */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Victor Mono', monospace; */
:root{
    --pink: rgb(255, 0, 140);
    --purple:rgb(174, 0, 255);
    --lightgray:gray;
    --darkgray:rgb(61, 61, 61);
    --teal: rgb(0, 255, 242);
    --sky:rgb(0, 195, 255);
    --orange:rgb(255, 115, 0);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}

header{
    margin: 2rem 0;
    position: relative;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0.7rem 1.2rem;
}
button:hover{
    transition: opacity 400ms ease-in-out;
    opacity: 60%;
}
.gradient{
    background: linear-gradient(to bottom,var(--orange),var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    position: relative;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.brand-logo{
    width: 35px;
}
.brand-name span{
    color: var(--orange);
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}
nav a{
    color: rgb(71, 71, 71);
    font-size: small;
}
.nav-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    font-size: small;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 0.6rem 1rem;
}
.nav-social-links img{
    width: 20px;
}
.banner{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.banner a{
    color:white;
}
.banner h1 {
    font-weight: bold;
    font-size: 3.5rem;
  }
  
.banner-img{
    max-width:100%;
    height: auto;
}
.banner-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('images/Group%2014.png');
    background-size: contain;
    padding: 5rem 2rem;
}
.banner ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding: 1rem;

}
.banner li{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--lightgray);
    font-size: small;
}
.banner li img{
    width: 14px;
}
.banner button:nth-child(1){
    background: var(--orange);
}
.banner button:nth-child(2){
    background: var(--sky);
}
.intro{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    max-width: 1150px;
}
.intro-img{
    max-width: 100%;
    height: auto;
}
.intro-contents{
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.intro-contents button{background:var(--orange);}
.intro-contents p{
    font-size: small;
    color: var(--lightgray);
    max-width: 80%;
    line-height: 1.5;
}
.intro-contents summary{
    color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin: 1rem 0;
    font-size: large;
}
.intro-contents summary h3{
    font-weight: 700;
}
.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1150px;
    margin: 3rem auto 0 auto;
}
.videos-header p{
    font-size: small;
    color: var(--lightgray);
    margin-top: 0.5rem;
}
.videos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.3rem 0;
}
.video-thumb{
    position: relative;
    z-index: 1;
    max-width: 85%;
    height: auto;
}
.video-content:hover  .play{
    display: flex;
    z-index: 2;
}
.video-content:hover .video-thumb{
    filter: brightness(30%);
    transition: filter ease-in-out 300ms;
}
.video-caption{
    font-size: 0.7rem;
    margin: 1rem 0;
    max-width: 80%;
}
.play{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    display: none;
}
.play-icon{
    width: 50px;
}
.play-text{
    color: var(--orange);
}
.features,.featured-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.features{
    max-width: 1150px;
}
.featured-content{
    width: 70%;
    font-size: small;
    text-align: center;
}
.featured-details{
    color: var(--lightgray);
}
.featured-images{
    position: relative;
    margin: 0 auto;
    padding: 2rem 0.6rem;
}
.img-lg{
    max-width: 60%;
    height: auto;
}
.img-sm{
    position: relative;
    top: 2rem;
    left: 3.5rem;
    max-width: 30%;
    height: auto;
}
.categories{
    max-width: 1150px;
    position: relative;
    margin: 0 auto;
}
.categories ul{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    row-gap: 6%;
    column-gap: 4%;
    list-style: none;
    margin: 2rem auto;
    padding: 3rem 1rem;
}
.categories li{
    width: 100%;
    position: relative;
}
.categories a{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.4rem;
    font-size:small;
    padding: 0.5rem 0.8rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.categories a:hover{
    color: var(--orange);
    border: 1px solid var(--orange);
    transition: ease-in-out all 300ms;
}
.categories img{
    width: 24px;
}
footer{
    background:rgb(0, 18, 29);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: small;
}
footer .brand h1{
    color: white;
}
.footer-links, .social-icons, .policy-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.footer-links a{
    color: white;
}
.social-icons{
    column-gap: 2rem;
}
.social-icons img{
    width: 24px;
}
.policy-links{
    grid-template-columns: repeat(2,1fr);

}
.policy-links a, .copyright{
    color: var(--lightgray);
}



/* Style for Tablets */
@media screen and (min-width:576px) {
    header{
        position: inherit;
        display: flex;
        margin: 0;
        padding: 1rem 0;
        min-height: 80px;
        max-height: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    nav,nav ul{
        flex-direction: row;
    }
    nav{
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }
    nav ul{
        margin: 0;
    }
    .banner{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 1 2rem;
        align-items: center;
        justify-content: center;
        max-height: 75vh;
        background-size: cover;
    }
    .banner-contents{
        order: 1;
        align-items:center ;
        text-align: center;
    }
    .banner-img{
        order: 2;
        max-width: 80%;
    }
    .intro{
        margin: 3rem auto;
        grid-template-columns: 5fr 4fr;
        grid-template-rows: none;
        padding: 1rem 2rem;
    }
    .intro-img{
        /* grid-column: span 3; */
    }
    .intro-contents{
        text-align: right;
        align-items: end;
    }
    .intro-contents summary{
        align-items: end;
    }
    .videos-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .features{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 1150px;
        margin: 0 auto;
        
    }
    .featured-content{
        margin: 0 auto;
    }
    .featured-details{
        max-width: 70%;
        line-height: 1.3;
    }
    .categories ul{
        grid-template-columns: repeat(3,1fr);
    }
    .categories a{
        box-shadow: none;
    }
    footer{
        gap: 2rem;
    }
    .social-icons,.footer-links{
        grid-template-columns: repeat(6,1fr);
    }
    .policy-links{
        grid-template-columns: repeat(4,1fr);
    }
}




/* Style for Desktops */
@media screen and (min-width:769px) {
    header{
        position: inherit;
        display: flex;
        margin: 0;
        padding: 1rem 0;
        height: 10vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    nav,nav ul{
        flex-direction: row;
    }
    nav{
        justify-content: space-between;
        padding: 1rem 6rem;
        width: 100%;
    }
    nav ul{
        margin: 0;
    }
    nav a:hover{
        transition: color ease-in-out 400ms ;
        color:var(--orange);
    }
    .banner-contents{
        height: 100%;
        background-size: cover;
    }
    .intro{
        grid-template-columns: 4fr 2fr;
        padding: 5rem 3rem;
    }
    .videos-container{
        grid-template-columns: repeat(4,1fr);
        padding: 0 2rem;
    }
    .featured-content{
        justify-self: right;
    }
    .categories ul{
        grid-template-columns: repeat(5,1fr);
        row-gap: 2rem;
    }
    .categories img{
        width: 30px;
    }
}